*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#4b0000;
    color:white;
    font-family:Arial, sans-serif;
}

nav{
    background:#2b0000;
    padding:18px;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:40px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#FFD700;
    font-weight:bold;
}

nav a:hover{
    color:white;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    color:#FFD700;
    font-size:50px;
    margin-bottom:10px;
}

.tagline{
    font-size:20px;
    color:#f5d76e;
}

marquee{
    background:#6b0000;
    padding:10px;
    color:white;
}

.canva-container{
    width:90%;
    max-width:1000px;
    margin:40px auto;
}

.canva-container iframe{
    width:100%;
    height:550px;
    border:none;
    border-radius:15px;
}

.about{
    width:80%;
    margin:auto;
    text-align:center;
}

.about h2{
    color:#FFD700;
    margin-bottom:20px;
}

.about p{
    margin-bottom:20px;
    line-height:1.8;
}

.vision{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:40px;
}

.card{
    background:#6b0000;
    width:280px;
    padding:25px;
    border-radius:15px;
    border:2px solid #FFD700;
}

.card h3{
    color:#FFD700;
    margin-bottom:15px;
}

footer{
    background:#2b0000;
    text-align:center;
    padding:20px;
    margin-top:30px;
}